/* ====================================
// css variables
// ==================================== */

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

h1 {
  color: #5e773e;
  font-family: Courage;
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 30px;
}

.centered {
  text-align: center;
}

.left {
  text-align: left;
}

h2 {
  color: #5e773e;
  font-family: Courage;
  font-size: 30px;
  font-style: italic;
  font-weight: 400;
  line-height: 40px;
  padding-bottom: 15px;
  padding-top: 30px;
}

.italic {
  color: #5e773e;
  font-family: TT Travels Next;
  font-size: 15px;
  font-style: italic;
  font-weight: 500;
  margin-bottom: 50px;
}

.italic-footer {
  color: #fff7cf;
  font-family: TT Travels Next;
  font-size: 15px;
  font-style: italic;
  font-weight: 500;
  margin-bottom: 50px;
}

.normal-text {
  color: #5e773e;
  text-align: left;
  font-family: TT Travels Next;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 15px;
  margin-top: 20px;
}

.normal-centered-text {
  color: #5e773e;
  text-align: center;
  font-family: TT Travels Next;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 15px;
}
h3 {
  color: #5e773e;
  font-family: TT Travels Next;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: 25px;
  margin-top: 20px;
}

body {
  background-color: #fff7cf;
}

@media (min-width: 992px) {
  .burger {
    display: none;
  }
}

@media (max-width: 991px) {
  .nav {
    display: none;
  }
}

.button {
  color: #5e773e;
  text-align: center;
  font-family: TT Travels Next;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: 25px; /* 100% */
  background-color: #ecd974;
  padding: 21px;
  border-radius: 90px;
}

.button-center {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.burger {
  margin-top: 40px;
  margin-bottom: 30px;
}

.about {
  color: #5e773e;
  font-family: Courage;
  font-size: 30px;
  font-style: italic;
  font-weight: 400;
  line-height: 40px;
  margin-top: 35px;
}

footer {
  background-color: #5e773e;
}

.footer-title {
  color: #fff7cf;
  font-family: Courage;
  font-size: 45px;
  font-style: italic;
  font-weight: 400;
  line-height: 45px; /* 100% */
}

.footer-text {
  color: #fff7cf;
  font-family: TT Travels Next;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 65px;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 20%;
  justify-content: space-between;
}
